name: Template Check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  verify-template:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.16.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Verify Template Builds
        run: bazel build //...

      - name: Verify Template Tests
        run: bazel test //...
